html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.logo p {
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
}

.logo span {
    display: inline-block;
    margin-left: 1vw;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1vw;
}

main {
    max-width: 100vw;
    background-color: lightgray;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1vh auto;
    color: brown;
    color: rgb(36, 4, 4);
}

.main-text {
    text-align: justify;
    width: 80vw;
    margin: 0 auto;
}

footer {
    height: 10vh;
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: space-between;
}

.container-footer p{
    color: white;
    font-style: italic;
}

.rights, .terms {
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
}

.rights img {
    height: 20%;
    object-fit:cover;
    margin-right: 1vw;
}

.terms{
    justify-content: center;
}

.terms p {
    display: inline-block;
    margin-left: 1vw;
}

.terms a{
    text-decoration: none;
    font-style: normal;
    color: inherit;
}